<!DOCTYPE html>
<html>

<nav style="background-color: #4900D9;" class="navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid ps-5">
        <h3 class="navbar-brand text-white ">To-Do App</h3>
    </div>
</nav>
<div class="container mt-3 ps-5">
    <div class="row">
        <h2 class="col-md-auto">
            TODAY
        </h2>
        <div class="col fs-4 fw-normal y-1">
            {{myDate | date:'dd-MM-yyyy'}}
        </div>
        <!-- <div class="col-9"></div> -->
    </div>
</div>
<hr class="w-75 mx-auto">

</html>