<!DOCTYPE html>
<html>

<body>
    <nav style="background-color: #7749F8;" class="navbar navbar-expand-lg navbar-light  ">
        <div class="container-fluid ps-5">
            <h3 style="margin-left: 9%;" class="navbar-brand text-white ">To-Do App</h3>
        </div>
    </nav>
    <div style="margin-left: 11%;" class="container mt-3">
        <div class="row">
            <h2 class="col-md-auto">
                TODAY
            </h2>
            <div class="col fs-4 fw-normal y-1">
                {{myDate | date:'dd-MM-yyyy'}}
            </div>
        </div>
    </div>
    <hr class="w-75 mx-auto">
    <lib-home></lib-home>
    <lib-tasks></lib-tasks>
</body>

</html>